Redis Sentinel IPv6 support

### Expected behaviour
I would expect that I could connect to a Sentinel over IPv6.

### Actual behaviour
It doesn't work: `Uncaught RedisException: Redis server tcp://[::1]:26379 went away`. When switching to IPv4 it works.

### I'm seeing this behaviour on
- OS: Ubuntu 20.04.4
- Redis: 7.0.2
- PHP: 8.1.7
- phpredis: 5.3.6

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch


@joostdebruijn how do you create `RedisSentinel` object?

Hi @yatsukhnenko,

It did some further testing and it looks like it has to do with the URI format I use:

Not working:

```php
$client = new \RedisSentinel(
    'tcp://[::1]'
);
```

Working:

```php
$client = new \RedisSentinel(
    'tcp://::1'
);
```

Also working:
```php
$client = new \RedisSentinel(
    '::1'
);
```

Similar happens at a Redis object:

Not working (error: `Uncaught RedisException: Failed to parse IPv6 address "[[::1]]:6379")`:
```php
$client = new \Redis();
$client->connect('tcp://[::1]');
```

Working:
```php
$client = new \Redis();
$client->connect('tcp://::1');
```

Working:
```
$client = new \Redis();
$client->connect('::1');
```

It looks like parsing of URI's containing IPv6 addresses is not compliant with [RFC 3986 (section 3.2.2)](https://www.rfc-editor.org/rfc/rfc3986.html#section-3.2.2) which states that IPv6 addresses should always be between brackets.

@joostdebruijn this should be fixed in `develop` branch. Now you can use both variants with and without brackets

Resolved